{% extends 'base.html.twig' %}

{% block title %}Edit ItemProperty{% endblock %}

{% block body %}
    <h1>Edit ItemProperty</h1>

    {{ include('item_property/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_item_property_index') }}">back to list</a>

    {{ include('item_property/_delete_form.html.twig') }}
{% endblock %}
