<fieldset>
    <legend>Player Menu</legend>
    <ul>
        <code><a href="{{ '/character/sheet' }}">CHARACTER SHEET</a></code>
        <code><a href="{{ '/' }}">INVENTORY</a></code>
        <code><a href="{{ '/' }}">NOTE</a></code>
        <code><a href="{{ '/' }}">MAP</a></code>

    </ul>
</fieldset>