{% block body %}

    <fieldset>
        <legend>Menu</legend>
        <ul>
            <code><a href="{{ '/' }}">HOME</a></code>
            <code><a href="{{ '/player' }}">PLAYER CRUD</a></code>
            <code><a href="{{ '/game' }}">GAME CRUD</a></code>

        </ul>
    </fieldset>

{% endblock %}
