<fieldset>
    <legend>Player Menu</legend>
    <ul>
        <code><a href="{{ '/character' }}">CHARACTER CRUD</a></code>
        <code><a href="{{ '/' }}">CHARACTER SHEET</a></code>
        <code><a href="{{ '/' }}">GAME SUB</a></code>
        <code><a href="{{ '/' }}">NOTE</a></code>

    </ul>
</fieldset>